* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ul {
  list-style-type: none;
}

body {
  background-color: lightgrey;
  font-family: "arial", sans-serif;
  line-height: 1.4;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  grid-template-areas:
    "topLeft topLeft topLeft topLeft topLeft topLeft"
    "topMiddle topMiddle topMiddle topMiddle topMiddle topMiddle"
    "topRight topRight topRight topRight topRight topRight"
    "right right right right right right"
    "left left left left left left";
}

@media print, screen and (min-width: 760px) {
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;

    grid-template-columns: repeat(6, 1fr);
    display: grid;
    grid-template-areas:
      "topLeft topMiddle topMiddle topMiddle topRight topRight"
      "left left left left right right";
    grid-template-rows: 1fr 8fr;
  }
}

.topLeft,
.topMiddle,
.topRight {
  background-color: rgb(7, 134, 177);
  color: white;
  text-align: center;
}

.left,
.right {
  color: #505050;
}

.topLeft {
  grid-area: topLeft;
}

.topMiddle {
  grid-area: topMiddle;
}

.topRight {
  grid-area: topRight;
  padding-left: 10px;
}

.left {
  grid-area: left;
  background-color: #fff;
}

.right {
  grid-area: right;
  padding-left: 20px;
  background-color: #eaf1f7;
}

.topLeft img {
  border-radius: 50%;
  width: 150px;
  height: auto;
  object-fit: contain;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.title {
  padding-top: 30px;
}

.contactInfo {
  margin-top: 25px;
  margin-bottom: 10px;
  display: inline-block;
}

.contactInfo ul li {
  text-align: left;
  margin-bottom: 5px;
}

.contactInfo .material-icons {
  padding-right: 2px;
  font-size: 0.7rem;
  vertical-align: -2.6px;
}

.contactInfo .text {
  top: 10px;
  letter-spacing: 1.5px;
}

.contactInfo a {
  color: #fff;
  text-decoration: none;
}

.contactInfo a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

.title h1 {
  font-weight: 600;
  font-size: 1.9rem;
}

.title h2 {
  font-weight: 500;
  font-size: 1.4rem;
}

.right {
  text-align: left;
}

.right div {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.right div h4 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 20px;
  color: #3b719f;
}

.summary p {
  font-size: 0.7rem;
}

.summary h4:before {
  font-family: "Material Icons";
  content: "summarize";
  padding-right: 8px;
  vertical-align: -5px;
}

.technologies h4:before {
  font-family: "Material Icons";
  content: "terminal";
  padding-right: 8px;
  vertical-align: -5px;
}

.technologies td {
  font-size: 0.7rem;
  padding-right: 15px;
  padding-bottom: 5px;
}

.education h4:before {
  font-family: "Material Icons";
  content: "school";
  padding-right: 8px;
  vertical-align: -5px;
}

.education h4 {
  right: 6px;
}
.education li {
  padding-bottom: 15px;
}

h5 {
  font-size: 0.7rem;
  font-weight: 500;
}

.program {
  font-size: 0.7rem;
  padding-left: 20px;
}

.certificate h4:before {
  font-family: "Material Icons";
  content: "workspace_premium";
  padding-right: 8px;
  vertical-align: -5px;
}

.certificate ul li {
  padding-bottom: 10px;
}

.hobbies h4:before {
  font-family: "Material Icons";
  content: "interests";
  padding-right: 8px;
  vertical-align: -5px;
}

.hobbies ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 15px;
}

.hobbies li {
  font-size: 0.7rem;
}

.hobbies .material-icons {
  vertical-align: -6px;
}

.left div {
  margin-left: 20px;
  margin-right: 20px;
}

.experience h4:before {
  font-family: "Material Icons";
  content: "work_history";
  padding-right: 8px;
  vertical-align: -5px;
}
.experience h4 {
  font-weight: 400;
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 1.4rem;
  color: #3b719f;
}

.experience_card {
  margin-bottom: 15px;
}

.experience_card_title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}

.experience_card_title li:first-child {
  font-weight: 600;
}

.experience_card_detail {
  list-style-type: disc;
  padding-left: 15px;
}

.volunteer h4:before {
  font-family: "Material Icons";
  content: "volunteer_activism";
  padding-right: 8px;
  vertical-align: -5px;
}
.volunteer ul {
  list-style-type: disc;
  padding-left: 15px;
}

.volunteer ul li {
  font-size: 0.7rem;
}
